@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  margin-bottom: 500px;
}

header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  position: fixed;
  top: 0;
  right: 0;
}

header h1 {
  margin-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  margin-top: 5px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin: 18px;
  color: #000;
  font-weight: 400;
}

.flex {
  display: flex;
  gap: 20px;
}

figure {
  width: 100%;
  margin: 60px auto;
  border: thin #666 solid;
  padding: 5px;
  background: cornsilk;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  background-color: #666;
  color: aliceblue;
  text-align: center;
  font-style: oblique;
  font-size: 17px;
  padding: 5px 0;
}

/* Summary */

details {
  border: 1px solid #666;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  width: 41%;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

details:nth-child(odd) {
  background-color: #fad0c4;
}

details:nth-child(even) {
  background-color: blanchedalmond;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

mark {
  background-color: aqua;
  padding: 3px;
}

/* Article */
.forecast {
  margin: 0;
  padding: 0.3rem;
  background-color: #eee;
  font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.day-forecast {
  border: thin solid #333;
}

.icon {
  display: flex;
  justify-content: flex-end;
  margin-top: -45px;
  padding: 5px 0;
}

.day-forecast > h2,
.day-forecast > p {
  margin: 0.2rem;
  font-size: 1rem;
}

/* Aside */

aside {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: thin #666 solid;
  border-radius: 5px;
  padding: 20px;
  width: 96%;
  margin: 60px auto;
}

aside img {
  width: 40%;
}

aside p {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 2;
  font-size: 15px;
}

.heading {
  position: absolute;
  top: 80px;
  left: 250px;
  font-size: 25px;
}

section {
  margin-top: 50px;
}

section > p {
  text-align: center;
}

section h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  details {
    width: 90%;
  }

  aside {
    flex-wrap: wrap;
  }

  aside img {
    width: 100%;
  }

  .heading {
    display: none;
  }
}
